:root {
  --tmdbDarkBlue: 3, 37, 65;
}

body {
  margin: 0;
  padding: 0;
}

.full-page-loader {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.backdropPath {
  border-radius: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  background-size: cover;
}
.linear {
  background-image: linear-gradient(
    to right,
    rgba(var(--tmdbDarkBlue), 0.8) 0%,
    rgba(var(--tmdbDarkBlue), 0) 100%
  );
}
.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.heroImg {
  min-height: 300px;
  max-height: 360px;
  height: calc(100vh / 2.5);
  width: 100%;
  position: relative;
  z-index: -1;
  background-position: top center;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.themoviedb.org/assets/2/v4/marketing/deadpool-06f2a06d7a418ec887300397b6861383bf1e3b72f604ddd5f75bce170e81dce9.png);
  max-width: 100%;
}
